<div class="loader" *ngIf="activeLoader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row" [ngClass]="{'opacity-03' : activeLoader}">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">{{operacao}} Sala</h4>
                        <!-- <p class="category">Complete your profile</p> -->
                    </div>
                    <div class="card-content">
                        <form (submit)="salvar()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating" [ngClass]="{'has-success': sala.nome, 'input-error  is-empty': !sala.nome}">
                                        <label class="control-label">Nome</label>
                                        <input type="text" name="nome" class="form-control" [(ngModel)]="sala.nome">
                                        <span class="material-icons form-control-feedback">{{sala.nome ? 'done' : 'clear'}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="teste form-group form-black label-floating" [ngClass]="{'has-success': sala.serie, 'input-error is-empty': !sala.serie}">
                                        <label class="control-label">Série</label>
                                        <input type="text" name="serie" class="form-control" [(ngModel)]="sala.serie">
                                        <span class="material-icons form-control-feedback">{{sala.serie ? 'done' : 'clear'}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Professores" name="professores" [(ngModel)]="sala.idsProfessores" [required]="true" multiple>
                                            <mat-select-trigger>
                                                {{sala.idsProfessores.length >= 1 ? obterNomeProfessor(sala.idsProfessores[0]) : ''}}
                                                <span *ngIf="sala.idsProfessores?.length > 1" class="example-additional-selection">
                                                    (+{{sala.idsProfessores.length - 1}} outro(s))
                                                </span>
                                            </mat-select-trigger>
                                            <mat-option *ngFor="let professor of professores" [value]="professor.id">{{professor.nome}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Selecione pelo menos um professor!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success pull-right">Salvar</button>
                            <button type="button" class="btn btn-success pull-right" (click)="voltar()">Voltar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>