<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancelar</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="title">Aluno</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>Cadastro de aluno</h3>

    <ion-list>

        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="aluno.nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Idade</ion-label>
            <ion-input type="text" [(ngModel)]="aluno.idade"></ion-input>
        </ion-item>

        <ion-list>
            <ion-item>
                <ion-label>Sexo</ion-label>
                <ion-select [(ngModel)]="aluno.sexo" interface="action-sheet" okText="Selecionar" cancelText="Cancelar">
                    <ion-option value="Masculino">Masculino</ion-option>
                    <ion-option value="Feminino">Feminino</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>Responsavel</ion-label>
                <ion-select [(ngModel)]="aluno.keyResponsavel" okText="Selecionar" cancelText="Cancelar">
                    <ion-option *ngFor="let responsavel of responsaveis| async" value="{{responsavel.$key}}">{{responsavel.nome}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>Sala</ion-label>
                <ion-select [(ngModel)]="aluno.keySala" okText="Selecionar" cancelText="Cancelar">
                    <ion-option *ngFor="let sala of salas| async" value="{{sala.$key}}">{{sala.nome}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

    </ion-list>

    <ion-row class="mt-20">
        <ion-col>
            <button ion-button (click)="salvar()" block>
                Salvar
            </button>
        </ion-col>
    </ion-row>