<ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title class="title">Responsável</ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content padding>
        <h3>Responsáveis</h3>
        
        <ion-list>
            <ion-item-sliding *ngFor="let responsavel of responsaveis| async">
                <ion-item>
                    <h2>{{responsavel.nome}}</h2>
                    <p>{{responsavel.telefone}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="secondary" (click)="modalEditarResponsavel(responsavel)">
                        Editar
                    </button>
                    <button ion-button color="danger" (click)="deletarResponsavel(responsavel)">
                        Deletar
                    </button>
                </ion-item-options>
                <ion-item-options side="left">
                    <button ion-button color="primary">
                        <ion-icon name="mail"></ion-icon>
                        Cade?
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    
        <ion-fab right bottom>
            <button ion-fab color="secondary" (click)="modalCriarResponsavel()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab>
    
    </ion-content>