<div class="loader" *ngIf="activeLoader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row" [ngClass]="{'opacity-03' : activeLoader}">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Responsável</h4>
                        <p class="category">Resposaveis cadastrados</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <th class="text-center">Nome</th>
                                <th class="text-center">Telefone</th>
                                <th class="text-center">E-Mail</th>
                                <th>Ações</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let responsavel of responsaveis">
                                    <td class="text-center">{{responsavel.nome}}</td>
                                    <td class="text-center">{{responsavel.telefone}}</td>
                                    <td class="text-center">{{responsavel.email}}</td>
                                    <td>
                                        <button type="button" rel="tooltip" title="Editar" (click)="editarResponsavel(responsavel.id)" class="btn btn-primary btn-simple btn-xs pl-pr-0">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Excluir" (click)="deletar(responsavel)" class="btn btn-danger btn-simple btn-xs pl-pr-0">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <button class="btn btn-success pull-right" (click)="criarResponsavel()">Novo Responsável</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>